.fighter-preview___root {
  display: flex;
  flex-direction: column;
  flex-basis: 250px;
}

.fighter-preview___right {
  align-items: flex-end;
}

.fighter-preview___left {
  align-items: flex-start;
}

.fighter-preview___wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 5px solid #ca9650;
  background: #ffdfa7;
  height: 350px;
}

.fighter-preview___image {
  max-height: 250px;
}

.fighter-preview___name {
  margin: 0;
  color: #267abf;
}

.fighter-preview___characteristic {
  font-size: 15px;
  font-weight: bold;
  color: #267abf;
  display: flex;
  width: 200px;
  height: 20px;
  margin: 0;
}

.fighter-preview___characteristicName {
  margin: 0 5px 0 0;
  width: 60%;
  text-align: right;
}

.fighter-preview___characteristicValue {
  margin: 0;
}